%section.section
  .container
    %h1.title= "#{@user.name.capitalize} #{@user.last_name.capitalize}"
    - @ad_groups.each do |a|
      .card
        %header.card-header
          %p.card-header-title= "Listing: #{a.listing_number} - #{a.name}"
          %a.card-header-icon{ href: "#", aria: { label: "more options" } }
            %span.icon
              %i.fa.fa-angle-down{ aria: { hidden: true } }
        .card-content
          .content
            - @cost = 0
            - @agent_spend = 0
            - a.ads.each do |b|
              - if b.ad_category.company_paid == false && b.vendor_pays == true
                - @cost += b.ad_category.price
              - elsif b.ad_category.company_paid == false && b.vendor_pays == false
                - @agent_spend += b.ad_category.price
              .box
                %ad.media
                  .media-content
                    .content
                      %p
                        %strong #{b.name} - #{b.ad_category.name}
                        %small= b.reference
                        %br
                        = b.description
                        %br
                        %hr
                        %small= b.deadline.strftime("Deadline %d/%m/%Y")
                        %br
                        %small= b.run_date.strftime("Run date: %d/%m/%Y")
                        %br
                        %small= "$#{b.ad_category.price} "
                        - if b.end_date
                          %small= " - #{b.end_date.strftime('%d/%m/%Y')}"
                    %nav.level.is-mobile
                      .level-left
                        - if !b.created
                          %span.level-item
                            %span.icon.is-small
                              %i.fa.fa-cogs
                          %span.level-item
                            %span.icon.is-small
                              %i.fa.fa-exclamation-circle
                          %span.level-item
                            %span.icon.is-small
                              %i.fa.fa-exclamation-circle
                        - elsif b.created && !b.approved
                          %span.level-item
                            %span.icon.is-small
                              %i.fa.fa-check-circle
                          %span.level-item
                            %span.icon.is-small
                              %i.fa.fa-comment
                          %span.level-item
                            %span.icon.is-small
                              %i.fa.fa-exclamation-circle
                        - else
                          %span.level-item
                            %span.icon.is-small
                              %i.fa.fa-check-circle
                          %span.level-item
                            %span.icon.is-small
                              %i.fa.fa-check-circle
                          %span.level-item
                            %span.icon.is-small
                              %i.fa.fa-newspaper-o
                      .level-right
                        %span.level-item
                          %span.icon.is-small
                            %a{ href: "/ad/edit/#{b.id}" }
                              %i.fa.fa-edit
                        %span.level-item
                          %span.icon.is-small
                            %a.has-text-danger{ href: "/ad/delete/#{b.id}" }
                              %i.fa.fa-close
            %p
              %strong
                Total advertising budget: $#{a.budget + a.agent_budget}
            %p
              %strong
                Vendor: $#{@cost}
              %small
                spent of $#{a.budget}
              %progress.progress.is-success{ value: a.budget - @cost, max: a.budget }
              %strong
                Agent: $#{@agent_spend}
              %small
                spent of $#{a.agent_budget}
              %progress.progress.is-success{ value: a.agent_budget - @agent_spend, max: a.agent_budget }
            %time{ datetime: a.created_at}= a.created_at.strftime("Ad group created on %d/%m/%Y")
        %footer.card-footer
          %a.card-footer-item{ href: "/ad/create/#{a.canonical}/"}
            Create New Ad
          %a.card-footer-item{ href: "#"}
            Edit Budget
      %br
